body{
  font-family: sans-serif;
}

h1{
  font-size:120px;
  align-self: center;
  text-align: center;
}

.barre-actions {
  align-self: center;
  text-align: center;
}

.ligne {
    display: flex;
    margin: 10px;
    /* margin-bottom: 0px;
    border-bottom: 2px solid #000000; */
}

.ligne > div {
    flex: 1;
    padding: 5px;
    text-align: center;
    border-bottom: 2px solid lightgrey;
}

.ligne-entete {
  display: flex;
  font-weight: bold;
  border-bottom: 2px solid #000000;
  margin-bottom: 5px;
}


